<!DOCTYPE html>
<html>

<head>
    <title>Angular</title>
</head>

<body ng-app="maneesh" ng-init="a=5;b=6">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    Module : A contianer for angular code
    Directive : Extension of an HTML element, start with prefix called "ng"
    Expressions : {{a*b}}
    <p>Area is {{a*b}}</p>
    <p>Area is <span ng-bind="a*b"></span></p>
    <div ng-init="fname='maneesh';">
        <p>full name is {{fname}}</p>
    </div>
    <div ng-init="even=[2,4,6,8]">
        <p>array {{even[0]}}</p>
        <p ng-repeat="number in even">Number is {{number}}</p>
    </div>
    <div ng-controller="justcontroller">
        <p>{{controllerName}}</p>
        <p> Scope can be accessed in controller only</p>
        <p ng-hide="showCoupon"> Fullname using function in controlller {{fullname()}}</p>
        <hr>
        <h4>Show Coupon When Fullname is available using ng-show and ng-hide </h4>
        <p ng-hide="showCoupon"> Fullname using function in controlller {{fullname()}}</p>
        <p ng-show="showCoupon"> Coupon is {{coupon}}</p>
        <hr>
        <h4>Filters limitTo, uppercase, lowercase, currency using pipe |</h4>

        <div ng-repeat="user in users | limitTo:2">
            <p>Name uppercase : {{user.name | uppercase}}</p>
            <p>Name uppercase limitTo : {{user.name |uppercase | limitTo: 3}}</p>
            <p>Name lowercase : {{user.name | lowercase}}</p>
            <p>Salary {{user.salary | currency}}</p>
        </div>
        <hr>
        <h4> Order by Descending using filter in Directive</h4>
        <div ng-repeat="num in numbers | orderBy:'-nums'">
            <p>{{num.nums}}</p>
        </div>
    </div>
</body>

</html>